{% extends 'base/base.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">&nbsp;</div>
	<div class="row">&nbsp;</div>
	<div class="row">&nbsp;</div>
	<div class="form-horizontal" style='clear: all'>
		<label class="sr-only" for="vinfield"></label>
		<input name="vin_number" class="form-control" id="vinfield" placeholder="Enter a VIN">
	</div>
	<pre id="vin_result"></pre>
	<div class="row">
		<button id="decode-button" class="btn btn-default disabled" style="position:fixed; bottom: 0px; width:100%; height:20%;">Decode!</button>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/vindata.js') }}"></script>
<script>

function validate_vinfield(event, element){
	var vin_value = undefined;
	if (element==undefined) {
		vin_value = $(this).val();
	} else {
		vin_value = element.val();
	}
	button = $('button#decode-button');
	vin_is_valid = (vin_value.length == 17);

	button.toggleClass('disabled', !vin_is_valid);
	if (vin_is_valid){
		button.addClass('btn-success').removeClass('btn-default');
	} else {
		button.addClass('btn-default').removeClass('btn-success');
	}

	if (!(typeof e === 'undefined')) {
		e.stopPropagation();
	}
}

function query_for_vin(event, element){
	var vin_value = $('input#vinfield').val();
	var url = 'https://api.edmunds.com/api/vehicle/v2/vins/' + vin_value + '?fmt=json&api_key={{API_KEY}}';
	var result_el = $('pre#vin_result');
	result_el.html("Loading...");
	$.get( url, function( data ) {
	  result_el.html( JSON.stringify(data, null, 2) );
	});
}

$('input#vinfield').on('keyup', validate_vinfield);
$('button#decode-button').on('click', query_for_vin);
validate_vinfield(undefined, $('input#vinfield'));

test_vin = 'WVWHV71KX7W107433';
</script>
{% endblock %}
